[Unit]
Description=Pulp Server
After=network-online.target
Wants=network-online.target

[Service]
# Set Environment if server.yaml is not in the default /etc/pulp/ directory
#Environment=PULP_SETTINGS=/etc/pulp/settings.yaml
Environment="DJANGO_SETTINGS_MODULE=pulpcore.app.settings"
User=root
WorkingDirectory=/var/run/pulp-server/
RuntimeDirectory=pulp-server
ExecStart=/opt/pulp/pulpvenv/bin/pulp-manager runserver

[Install]
WantedBy=multi-user.target
