[Unit]
Description=Pulp Rpm Gunicorn
After=network-online.target
Wants=network-online.target

[Service]
# Set Environment if server.yaml is not in the default /etc/pulp/ directory
Environment=PULP_SETTINGS=/etc/pulp/settings.py
Environment="DJANGO_SETTINGS_MODULE=pulpcore.app.settings"
User=root
WorkingDirectory=/var/run/pulp-rpm-gunicorn/
RuntimeDirectory=pulp-rpm-gunicorn
ExecStart=/opt/pulp/pulpvenv/bin/gunicorn pulpcore.content:server --bind 'localhost:8080' --worker-class 'aiohttp.GunicornWebWorker' -w 2 --log-level debug
[Install]
WantedBy=multi-user.target
